* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0; padding: 0;
}

html {
	font-size: 90%;
}

html, html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.logo {
	float:left;
  width: 60px;
  height: 60px;
  transition: all 1s ease-out;
  opacity: 1;
}

.logo:hover {
	transform: rotate(360deg);
}

a, a:visited, a:link, a:active, a:hover {
	text-decoration: none;
	color: #333;
}

body {
	font-family: 'Open sans', sans-serif;
	font-weight: 200;
	line-height: 1;
  background-color: #fff;
  color: #333;
  max-width: 550px;
}

.wrapper {
	margin: 1em;
}

h1 {
	font-family: 'Syncopate', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
}

h2 {
	color: #888;
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: .2em;
}

h3 {
	font-size: .7rem;
	width: 250px;
  color: #333;
  font-weight: 500;
}

.header {
	display: -webkit-flex;
	display: flex;
}

.header .text {
  padding-left: 1em;
  padding-top: .3em;
	flex: 1;
}

.header .text p {
  font-size: .9em;
	font-weight: 400;
  margin-top: 1em;
  line-height: 1.2;
  width: 100%;
}

.footer {
	font-size: .8em;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
  margin: 0em 1em;
  color: #333;
  div {
    flex: 1;
  }
}
hr {
	margin: .1em;
	margin-top: 1.2em;
}

.header .text .tech-overview {
	font-size: .85em;
}

/* ==========================================================================
	  Media Queries - Narrow view is default. The following describes what happens with wider viewports
	========================================================================== */
	@media (min-width: 450px) {

		h1 {
			font-size: 2em;
		}

		h2 {
			font-size: 1.5em;
		}

		h3 {
			//color: #888;
			font-size: 1em;
			width: 100%;
		}

		.header .text p {
		  font-size: 1em;
		}

		.footer {
			font-size: 1em;
		}

		img {
		  width: 80px;
		  height: 80px;
		}
	} /* @media 450px */

	@media (min-width: 503px) {

		body {
			max-width: 500px;
		}
	}

	@media (min-width: 600px) {

		h1 {
			font-size: 2.2em;
		}
		h2 {
			font-size: 1.7em;
		}

		h3 {
			font-size: 1.1em;
		}

		img {
			width: 100px;
			height: 100px;
		}

		.header .text p {
		  font-size: 1em;
		}

		.footer {
			font-size: 1.1em;
		}

		body {
			max-width: 650px;
		}

	} /* @media 600px */


